{% extends 'base.html.twig' %}

{% block title %}Приглашение{% endblock %}

{% block header %}
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-xs fh5co-cover-letter" role="banner">
        <div class="overlay"></div>
        <div class="fh5co-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            {% if (guest.title) %}
                                <h1>{{ guest.title }}</h1>
                            {% else %}
                                <h1>Уважаемый, {{ guest.username }}</h1>
                            {% endif %}
                            {% if (guest.message) %}
                                <h2>{{ guest.message|raw }}</h2>
                            {% else %}
                                <h2>приглашаем вас на нашу свадьбу</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div id="fh5co-invite-video">
        <div class="container">
            <div class="row">
                <div class="embed-responsive embed-responsive-16by9">
                    <video id="invite-video" class="embed-responsive-item" src="{{ asset('video/invite.mp4') }}" controls></video>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmation" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="top: 25vh">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        {% if (confirmed) %}
                            Спасибо, что подтвердили свое присутсвие, если передумаете, то сообщите нам заранее.
                        {% else %}
                            Пожалуйста, подтвердите свое присутствие.
                        {% endif %}
                    </h4>
                </div>
                {% if (not confirmed) %}
                <div class="modal-body">
                    <form method="post" action="{{ path('app_invite_confirmation') }}">
                        {% if (guest.persons|length > 1) %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" name="confirmation" value="submit">
                                    Мы придем вместе
                                </button>
                            </div>
                            {% for person in guest.persons %}
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" name="confirmation" value="{{ person }}">
                                        Может быть только {{ person }}
                                    </button>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-default" name="confirmation" value="dismiss">
                                    К сожалению, мы не сможем прийти
                                </button>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" name="confirmation" value="submit">
                                    Я обязательно приду
                                </button>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default" name="confirmation" value="dismiss">
                                    К сожалению, я не смогу прийти
                                </button>
                            </div>
                        {% endif %}
                    </form>
                </div>
                {% else %}
                {% endif %}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            let video = $('#invite-video');
            video.trigger('play');

            video.on('ended', function (e) {
                $('#confirmation').modal('show');
            })
        });
    </script>
{% endblock %}