{% extends 'base.html.twig' %}

{% block header %}
    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_2.webp);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Александр и Алла</h1>
                            <h2>Мы станем мужем и женой через:</h2>
                            <div class="simply-countdown simply-countdown-one"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div id="fh5co-couple">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>Привет!</h2>
                    <h3>04 июня 2021 года, г. Бишкек</h3>
                    <p>Мы приглашаем вас на нашу церемонию бракосочетания</p>
                </div>
            </div>
            <div class="couple-wrap animate-box">
                <div class="couple-half">
                    <div class="groom">
                        <img src="{{ asset('images/alexander.webp') }}" alt="groom" class="img-responsive">
                    </div>
                    <div class="desc-groom">
                        <h3>Мельников Александр</h3>
                        <p>Слова Александра</p>
                    </div>
                </div>
                <p class="heart text-center"><i class="icon-heart2"></i></p>
                <div class="couple-half">
                    <div class="bride">
                        <img src="{{ asset('images/alla.webp') }}" alt="groom" class="img-responsive">
                    </div>
                    <div class="desc-bride">
                        <h3>Лим Алла</h3>
                        <p>Слова Аллы</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-event" class="fh5co-bg" style="background-image:url(images/img_bg_3.webp);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>План свадьбы</h2>
                </div>
            </div>
            <div class="row">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="col-md-6 col-sm-6 text-center">
                                <div class="event-wrap animate-box">
                                    <h3>Церемония бракосочетания</h3>
                                    <div class="event-col">
                                        <i class="icon-clock"></i>
                                        <span>17:30</span>
                                        <span>18:00</span>
                                    </div>
                                    <div class="event-col">
                                        <i class="icon-calendar"></i>
                                        <span>Пятница</span>
                                        <span>04 июня 2021</span>
                                    </div>
                                    <p>;)</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 text-center">
                                <div class="event-wrap animate-box">
                                    <h3>Свадебная вечеринка</h3>
                                    <div class="event-col">
                                        <i class="icon-clock"></i>
                                        <span>18:00</span>
                                        <span>23:00</span>
                                    </div>
                                    <div class="event-col">
                                        <i class="icon-calendar"></i>
                                        <span>Пятница</span>
                                        <span>04 июня 2021</span>
                                    </div>
                                    <p>Гуляем до утра...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-couple-story">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <span>Как мы любим друг друга</span>
                    <h2>Наша история любви</h2>
                    <p>История берет свое начало аж с 2008 года до нашей эры :D</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <ul class="timeline animate-box">
                        <li class="animate-box">
                            <div class="timeline-badge" style="background-image:url({{ asset('images/cosplay.webp') }});"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Знаковство</h3>
                                    <span class="date">Май 2008</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Мы познакомились в мае 2008 года, в Кыргызско-Японском цетнре человеческого развития.
                                        Тогда, мы и подумать не могли, что однажды станем мужем и женой.
                                        Все эти годы, мы были хорошими друзьями, встречались несколько раз в год, и после одной из таких встреч, наши судьбы переплелись.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted animate-box">
                            <div class="timeline-badge" style="background-image:url({{ asset('images/holiday.webp') }});"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Первое свидание</h3>
                                    <span class="date">08 января 2021</span>
                                </div>
                                <div class="timeline-body">
                                    <p>На следующий день, после встречи, мы пошли в Додо пиццу. Было неловко и не привычно.
                                        Начался конфетно - букетный период.
                                        В первый выходной, мы решили посмотреть фильм, выбирали среди многих вариантов, и решили посмотреть Мистер Никто, сюжет был интересный, но фильм был очень долгий, кое - кто скачал режиссерскую версию.</p>
                                </div>
                            </div>
                        </li>
                        <li class="animate-box">
                            <div class="timeline-badge" style="background-image:url({{ asset('images/family.webp') }});"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Отношения</h3>
                                </div>
                                <div class="timeline-body">
                                    <span class="date">14 февраля</span>
                                    <p>Мы ходили на бал.</p>
                                    <br>
                                    <span class="date">3 марта</span>
                                    <p>Мы сходили на восточную философию Сюцай, где узнали о нас, по отдельности и вместе, там нам посоветовали выбрать дату свадьбы из нескольких вариантов.</p>
                                    <br>
                                    <span class="date">5 марта</span>
                                    <p>Мы рассматривали даты, с июня до конца года, и выбрали первую подходящую 04.06.2021 года.</p>
                                    <br>
                                    <span class="date">8 марта</span>
                                    <p>Александр пришел в гости к Алле, познакомился с мамой, всех поздравил, договорился о совместном проживании и свадьбе.</p>
                                    <br>
                                    <span class="date">16 апреля</span>
                                    <p>Александр сделал Алле предложение, мы подали заявление в загс, выбрали Усадьбу Орехово и начали готовиться к свадьбе.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted animate-box">
                            <div class="timeline-badge" style="background-image:url({{ asset('images/birthday.webp') }});"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">О нас</h3>
                                    <span class="date"></span>
                                </div>
                                <div class="timeline-body">
                                    <p>Не зря говорят, что противоположности притягиваются.
                                        Александр интроверт, Алла экстраверт.
                                        Он любит холодное, а она горячее, он любит острое, а она не острое, он любит сладкое, а она соленое.
                                        Она любит черную одежду, а он светлую, у него 45 размер ноги, а у нее 35.
                                        Есть у нас и много общего, мы любим и заботимся друг о  друге, смотрим одни и те же передачи и фильмы. Часто в магазине, нам нравятся одни и те же вещи. Мы считаем, что нужно жениться и выходить замуж один раз  и мы хотим троих детей.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-gallery" class="fh5co-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <span>Наши воспоминания</span>
                    <h2>Свадебная галерея</h2>
                    <p>Галерея будет пополнятся</p>
                </div>
            </div>
            <div class="row row-bottom-padded-md">
                <div class="col-md-12">
                    <ul id="fh5co-gallery-list">
                        {% for folder in gallery %}
                        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({{ asset(folder.thumbnail.fullPath|default('images/gallery-1.jpg')) }}); ">
                            <a href="{{ path('app_gallery', {'slug': folder.slug}) }}">
                                <div class="case-studies-summary">
                                    <span>{{ folder.size }} фото</span>
                                    <h2>{{ folder.name }}</h2>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/homepage.js') }}"></script>
{% endblock %}

