{% extends 'base.html.twig' %}

{% block title %}Галерея{% endblock %}

{% block header %}
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({{ asset(folder.thumbnail.fullPath) }});">
        <div class="overlay"></div>
        <div class="fh5co-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>{{ folder.name }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div id="fh5co-gallery">
        <div class="container">
            <div class="row row-bottom-padded-md">
                <div class="col-md-12">
                    <ul id="fh5co-gallery-list">
                        {% for photo in photos %}
                            <li class="one-third animate-box image-popup" data-animate-effect="fadeIn"
                                style="background-image: url({{ asset(photo.fullPath) }}); "
                                data-mfp-src="{{ asset(photo.fullPath) }}"
                                data-name="{{ photo.fileName }}">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div style="display: flex; align-items: center">
                    <a href="#" class="btn btn-block btn-lg btn-default download">Скачать все</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.image-popup').magnificPopup({type:'image'});
            $('.download').on('click', function (e) {
                e.preventDefault();
                $('.image-popup').each(function (i, item) {
                    let imageData = $(item);
                    saveAs(imageData.data('mfp-src'), imageData.data('name'));
                });
            });
        });
    </script>
{% endblock %}